﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}


#preview {
    height: 50px;
    width: 50px;
    

}

.picker{

    margin-top: 70px;
}

.btn{

    margin-top: 70px;
    margin-left: 20px;
    
}

/* Wrapping element */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}



/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
