@{
    ViewData["Title"] = "ChangeColor";
}

<!-- <!DOCTYPE html>
<html lang="en"> -->
<!-- <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/main.css">
    <title>Change Background Color</title>
</head> -->

<div class="row">
    <div class="col-md-3">
        <h1>How to Use this application!</h1>
        <ul style="list-style-type:disc">
            <li>Use the sliders below to change the background color</li>
            <li>When you see your favorite color, press <mark style="background-color:green;">CONFIRM</mark></li>
            <li>To reset back to white, press <mark style="background-color:paleturquoise;">RESET</mark></li>
       </ul>  


     </div>
</div>


    
    <div class="picker" id="sliders">
        <label for="red">RED</label>
        <input type="range" min="0" max="255" step="1" id="red" value="0">

        <label for="green">GREEN</label>
        <input type="range" min="0" max="255" step="1" id="green" value="0">
        
        <label for="blue">BLUE</label>
        <input type="range" min="0" max="255" step="1" id="blue" value="0">
        </div>

        <div id="preview" style="height:50px; width:280px; margin-top:40px; border:1px solid;">  </div>
    
    <div class="btn">  
        <button onclick="confirm()">Confirm </button>
        <button onClick="reset()">RESET</button>
    </div>
   

    
    <script src="~/js/functions.js"></script>

</html>